<div class="container">
	<div class="dashboard">
		<div class="top clearfix">
		<div class="profile-pic pull-left">
				<img src="/assets/nopicture.jpg">
		</div>
		<button type="button" class="btn btn-inverse" disabled>Followers: <%= current_user.followers(User).count %></button>


		
		
		</div>
	</div>
</div>