<div class="dashboard">
	<div class="menu pull-left">
		<ul class="menu-items">
			<li class="myprofile active">
				<span class="title">my profile</span>
			</li>
			<li class="myrentals">
				<span class="title">my rentals</span>
			</li>
			<li class="myfaves">
				<span class="title">my faves</span>
			</li>
			<li class="mycredits">
				<span class="title">my credits</span>
			</li>
			<li class="myinvites last">
				<span class="title">my invites</span>
			</li>
		</ul>
	</div>
	<div class="content pull-right">
		<ul class="header-bar pull-right">
			<li><span class="title"><img src="/assets/followers.png"> followers</span></li>
			<li><span class="title"><img src="/assets/following.png"> following</span></li>
			<li><span class="title"><img src="/assets/activity.png"> activity</span></li>

		</ul>
	</div>
</div>