<div class="dashboard">
	<div class="menu pull-left">
		<ul class="menu-items">
			<li class="active myprofile">My Profile</li>
			<li class="myrentals">My Rentals</li>
			<li class="myfaves">My Faves</li>
			<li class="mycredits">My Credits</li>
			<li class="myinvites">My Invites</li>
		</ul>
	</div>
	<div class="content pull-right"></div>
</div>