<div class="login-box">
  				<div class="left pull-left">
  					<%= render 'shared/signin-form' %>
  				</div>
  				<div class="right pull-right">
  					<%= render 'shared/register-form' %>
  				</div>
</div>