
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="navbarsmprofile" src="/assets/myprofile.png"></a></a>
     
     <ul class="dropdown-menu">
     	   <%= render "shared/login-box" %>

     </ul>
 </li>
