<div class="login-box">
  				<div class="left pull-left">
  					<%= render 'signin-form' %>
  				</div>
  				<div class="right pull-right">
  					<%= render 'register-form' %>
  				</div>
</div>