<div class="body">
  		<div class="banner clear-fix">
  			<div class="banner1">
  				<div class="lede pull-left">UNLIMITED<br><span class="slogan">Clothing &amp; Accessories to fit  your Style</span></div>
  				<div class="price pull-right"><span class="start">*</span>$49<br><span class="monthly">per month</span></div></div>
  				<div class="invite-only pull-right">
  			</div>
  			</div>
  			
  		</div>

  	</div>
  	