/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "compass/css3";


html,body
{
	height:100%;
}

body
{
	background: url('noise-f1.gif');
}
.user-logged-in {
position: absolute;
left: -40px;
top: 13px;
}
.navbarsmprofile
{
	width:18px;
}
.span12
{
	min-height:100%;
}


.navbar
{
	
	margin-bottom:0px !important;
	.navbar-inner
	{
		@include border-radius(0px);
	}


}

.body
{
	overflow: auto;
	background: url("/assets/homebanner.jpg") no-repeat;
	background-size: 100%;
	min-height: 800px;

	.banner
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 23%;
		width: 70%;
		height:90px;
		position: relative;
		background-color:rgba(0,0,0,0.3);
   		@include box-shadow( 0px 0px 0px 15px rgba(0, 0, 0, 0.3));

   		.banner1
   		{
   			width:440px;

   			.lede
   			{
   				width:70%;
   				height:80px;
   				position: relative;
   				top:5px;
   				background-color:$white;
   				font-family: Cambria;
				font-style: italic;
				font-size: 56px;
				line-height: 72px;
				text-align: center;

				.slogan 
	   			{
					position: relative;
					top: -55px;
					font-size: 13px;

				}

   			}

   			.price
   			{
   				width:30%;
   				height:80px;
   				position: relative;
   				top:5px;
   				background-color:#ff0084;
   				color: $white;
				font-family: cambria;
				font-size: 46px;
				line-height: 73px;
				text-align: center;


				.start 
				{
					font-size: 29px;
					position: absolute;
					top: -15px;
					left: 107px;
					color: #000;
				}
				.monthly 
				{
					font-size: 12px;
					position: relative;
					top: -56px;
					color: #000;
					font-style: italic;
				}
   			}
   		}
	}
  	padding-bottom:180px; /* this needs to be bigger than footer height*/

}


.loginandreg-box
{
	width:720px;
	height:360px;
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
	background: url('login-bg.png');
	border: 1px solid rgba(0,0,0,0.3);
    @include box-shadow( 0px 0px 0px 15px rgba(0, 0, 0, 0.3));

    .left
    {
    	width: 43%;
		height: 65%;
		border-right: 1px dotted rgba(0, 0, 0, 0.3);
		position: relative;
		margin: 17px 56px 0px 42px;

		h1
		{
			font-size: 23px;
		}
	}

		.right
    {
    	width: 40%;
		height: 65%;
		position: relative;
		margin: 7px 0 0 0;

		h1
		{
			font-size: 23px;
		}
    }

    .shared-links
    {
    	display: inline-block;
    	position: relative;
		top: -120px;
		float: right;
		width: 202px;
		font-size: 11px;
		font-style: italic;

    	li
    	{
    		list-style: none;
    		float:left;
    		padding-right:10px;

    		
    	}
    }

  	
}

.login-box
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;

    .main
    {
    	position: relative;
		margin: 17px 56px 0px 42px;
		h1
		{
			font-size: 23px;
		}
	}

    .shared-links
    {
    	display: inline-block;
		position: relative;
		top: -67px;
		float: right;
		width: 130px;
		font-size: 11px;
		font-style: italic;
		left: 35px;

    	li
    	{
    		list-style: none;
    		float:left;
    		padding-right:10px;

    		
    	}
    }

  	
}

  	