/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "compass/css3";


html,body
{
	height:100%;
}

body
{
	background: url('bg2.png');
}

.span12
{
	min-height:100%;
}


.navbar
{
	.navbar-inner
	{
		@include border-radius(0px);
	}

	.brand
	{
		background: url('/assets/logo.png');
	}
}

.body
{
	overflow:auto;

  padding-bottom:180px; /* this needs to be bigger than footer height*/

}


.login-box
{
	width:720px;
	height:360px;
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
	background: url('login-bg.png');
	border: 1px solid rgba(0,0,0,0.3);
    @include box-shadow( 0px 0px 0px 15px rgba(0, 0, 0, 0.3));

    .left
    {
    	width: 43%;
		height: 65%;
		border-right: 1px dotted rgba(0, 0, 0, 0.3);
		position: relative;
		margin: 17px 56px 0px 42px;

		h1
		{
			font-size: 23px;
		}
	}

		.right
    {
    	width: 40%;
		height: 65%;
		position: relative;
		margin: 7px 0 0 0;

		h1
		{
			font-size: 23px;
		}
    }

    .shared-links
    {
    	display: inline-block;
    	position: relative;
		top: -120px;
		float: right;
		width: 202px;
		font-size: 11px;
		font-style: italic;

    	li
    	{
    		list-style: none;
    		float:left;
    		padding-right:10px;

    		
    	}
    }

  	
}