// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "compass/css3";

.dashboard
{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:95%;
	height:355px;
	background-color:$white;
	border-bottom:1px solid #ddd;
	@include single-box-shadow;

    .menu
    {
    	width:10%;
    	height:355px;
    	position: relative;
    	z-index: 1;
    	@include box-shadow(1px 0px 0px 0px #ddd);

    	.menu-items
    	{
    		list-style: none;
    		font-size: 12px;
    		margin-left: 0;

    		.title
    		{

    			position: relative;
				top: 27px;
				font-size: 7px;
				text-transform: uppercase;
				font-weight: 500;
				color: #ff0084;
    		}

    		li
    		{
    			height: 30.4px;
				border-bottom: 1px solid #ddd;
				padding-top: 20px;
				padding-bottom: 20px;
				text-align: center;
				cursor: pointer;
				
				&.active, &:hover
				{
					@include box-shadow(1px 5px 5px #de0374 inset);
					.title
					{
						color:#fff;
					}
				}



				&.myprofile
				{
					@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
					@include background-image(url('/assets/myinvites.png') , linear-gradient(top, #ffffff 0%,#e5e5e5 100%));
					background-position:center;
					background-repeat:no-repeat;



					&:hover, &.active
					{
						
						background: #ff0084 url('/assets/myprofile-active.png') no-repeat center;
						background-size:30px;
					}
				}

				
				&.myrentals
				{
					@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
					@include background-image(url('/assets/myrentals.png') , linear-gradient(top, #ffffff 0%,#e5e5e5 100%));
					background-position:center;
					background-repeat:no-repeat;
					&:hover, &.active
					{
						
						background: #ff0084 url('/assets/myrentals-active.png') no-repeat center;
						background-size:30px;
					}
				}
				&.myfaves
				{
					background-color: #ffffff; // Old browsers
					@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
					@include background-image(url('/assets/myfaves.png') , linear-gradient(top, #ffffff 0%,#e5e5e5 100%));
					background-position:center;
					background-repeat:no-repeat;

					&:hover, &.active
					{
						
						background: #ff0084 url('/assets/myfaves-active.png') no-repeat center;
						background-size:30px;
					}
				}

				&.mycredits
				{
					@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
					@include background-image(url('/assets/mycredits.png') , linear-gradient(top, #ffffff 0%,#e5e5e5 100%));
					background-position:center;
					background-repeat:no-repeat;

					&:hover, &.active
					{
						
						background: #ff0084 url('/assets/mycredits-active.png') no-repeat center;
						background-size:30px;
					}
				}

				&.myinvites
				{
					@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
					@include background-image(url('/assets/myinvites.png') , linear-gradient(top, #ffffff 0%,#e5e5e5 100%));
					background-position:center;
					background-repeat:no-repeat;

					&:hover, &.active
					{
						
						background: #ff0084 url('/assets/myinvites-active.png') no-repeat center;
						background-size:30px;
					}
				}


				
			}
    	
    	}
    	
    }
	 
	.content
	{
		width:90%;
		height:355px;
		background: #f0f0f0 url(/assets/noise-f1.gif);

		.header-bar
		{
			width: 450px;
			height: 100px;
			border-top: none;
			list-style: none;


			li
			{
				display: inline-block;
				float: left;
				width:30%;
				margin-right: 10px;
				position: relative;
				top:15px;
				height: 100px;
				text-align: center;
				border: 1px solid rgba(0,0,0,0.3);
				@include box-shadow( 0px 0px 0px 2px rgba(0, 0, 0, 0.1));

				span
				{
					text-transform: uppercase;
					font-size: 9px;
					color:#ff0084;
					position: relative;
					top: 60px;

					img
					{
						position: relative;
						top:-1px;
					}
				}

			}


		}
	}
}